body {
	color: #111111;
	background-color: #F2F2F2;

	font-family: 'Helvetica', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
	text-align: center;

	font-size: 32px;
  font-weight: bold;
	line-height: 48px;
}


.defolt{
	margin-left: 20px;

	text-align: left;
}
h2 {
	margin-left: 20px;

	font-size: 22px;
  font-weight: bold;
	line-height: 40px;
}

h3 {
	display: flex;

	margin: 10px 17px 8px;

	font-size: 18px;
	font-weight: bold;
}

h4 {
	display: flex;

	margin: 0 17px;

	color: #5D5D5D;

	font-size: 14px;
	font-weight: 400;
}

p {
	display: flex;

	text-align: center;

  font-family: "Bipolar";
  font-size: 24px;
	line-height: 28px;

	align-items: center;
}

mark {
	color: #5A5A5A;
	background-color: inherit;
}

a {
	text-decoration: none;

	color: inherit;
}

header {
	display: flex;

	width: 100%;
	margin: 40px auto 70px;

	justify-content: center;
	align-items: center;
}

section {
	display: flex;
	flex-direction: column;

	height: 420px;
	margin: 0 auto 60px 48px;
}

.title {
	display: flex;

	width: 100%;
	height: 44px;

	align-items: center;
}

.title img {
	width: 44px;
	height: 44px;

	border-radius: 22px;
}

.slider {
	display: flex;
	overflow: scroll;

	width: 100%;
	height: 294px;
	margin: 22px auto 0 67px;

	justify-content: space-between;
}

.card {
	display: flex;
	flex-direction: column;

	width: 274px;
	height: 294px;
	margin-right: 20px;

	transition: all .2s ease-in-out;

	border-radius: 4px;
	background-color: white;
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.16);
}

.card:hover {
	transform: scale(1.02);
}

.card img, .fotocontent-backgroundred {
	display: flex;

	width: 274px;
	height: 194px;

	border-radius: 4px 4px 0 0;
	background-color: red;
}

.card-disabled {
 opacity: 0.46;
}
